html {
    height: 100vh;
    background-color: rgb(27, 27, 27);
}

body {
    margin: 0;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    color: azure;
    text-align: center;
}

.gridbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 450px;
    height: 450px;
    border: 1px solid #a8a7a7;
}

.buttons {
    display: inline-flex;
    margin-top: 30px;
    gap: 80px;
}

#clear {
    margin-top: 30px;
}